body {
    height: 1300px;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
    margin: 60px 0 0 0;
}

    #scrape {
        border-left: none;
    }

    #dump {
        border-left:  none;
    }

.jumbotron {
    text-align: center;
    background: none;
}

#wrapper {    
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

    #articles {
        box-shadow: 0px 0px 15px 5px rgba(0,0,0, .2) inset;
        overflow: auto;
        display: block;
        height: 500px;
        background: white; opacity: 0.75;

    }

        .card {
            width: 600px;
            margin: 30px auto;
            background: none;
        }

        .note-card {
            width: 100%;
        }

            .btn-options {
                margin: 10px 0 0 0;
            }
                .btn-block {
                    margin: 30px 0 20px 0;
                }

                .btn-info {
                    margin: 0 20px;
                }

        textarea, input {
            display: block;
            width: 100%;
            background-color: #FCF5C7;
        }

            input {
                height: 36px;
                font-size: 24px;
            }

            textarea {
                height: 200px;
                font-size: 18px;
            }